
.content{
    margin-top: 25px;
    height: 100vh;
    overflow-y: auto;
}
.content::-webkit-scrollbar {
    width: 7px;
    border-radius: 10px;
  }
  .content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #000000  ;
  }
   
  .content::-webkit-scrollbar-thumb {
    background-color: #00edff;
    outline: 1px solid #00edff;
  }
body{
    overflow-y: hidden;
}

.main-panel{
    background-image: url(/src/assets/img/psipadbackground.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.sidebar[data-type="psi"], .off-canvas-sidebar[data-type="psi"]{
    background: rgb(39, 38, 44);

}
.sidebar .nav p, .off-canvas-sidebar .nav p{
    color: rgb(0, 237, 255);
}
.sidebar .nav i, .off-canvas-sidebar .nav i{
    color: rgb(0, 237, 255);

}
.card{
    background: rgb(39, 38, 44);
}
.form-control{
    background-color: rgba(21, 61, 111, 0.44);
}
.wallet-button{
    font-size: 14px !important;
    padding: 0px 28px;
    font-weight: 900 !important;
    height: 29px !important;
    color: white !important;
}

.network-class{
    font-size: 13px !important;
    height: 50px !important;
    margin-bottom: 0px !important;
    padding: 10px 0px 10px 5px !important;
    color: darkgray;
}
option {
    color: black !important;
}
.modal-content .modal-header .modal-title{
 color: white;
}
.notokens-warning{
    text-align: center;
}
.notoken-column{
    position:absolute;
    top: 50%;
    transform: translate(0%, -50%);
}
.modal-content .modal-header button{
    left: calc(100% - 285px);
    right: 20px;
    color: white !important;
}
.single-wallet-box{
margin-bottom: 10px;
}
.single-wallet-img{
    float: right;

}
.single-wallet-box img{
    width: 20px;
}
.single-wallet-btn{
    padding: 10px 15px;
    border: 0px;
    border-radius: 16px;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.03em;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    background-color: rgb(53, 53, 71);
    box-shadow: none;
    color: rgba(21, 61, 111, 0.44);
    width: 100%;
    margin-bottom: 8px;
    color: white;
}
.modal-dialog{
    max-width: 380px;
    transform: translate(0, 0%) !important;
}
.modal-content{
    border-radius: 25px;
}
.connect-info i{
    align-self: center;
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
    margin-right: 8px;
}
.connect-info{
text-align: center
}
.connect-info p{
    color: white !important;
    display: inline-flex;
}
.important-notes-list{
    font-size: 12px;
    padding-top: 7px;
    line-height: 1.5rem;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.6);
}
.contribution-box{
    border: 1px solid white;
}

.KYC-box{
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_button{
    cursor: pointer;
    margin: 5px;
    max-height: 35px;
    max-width: 60px;
}
.navbar.navbar-transparent{
    background: rgb(39, 38, 44) !important;
    height: 64px;
    border-bottom: 2px solid rgba(133, 133, 133, 0.1);

}
.wallet-button{
    background-color: rgba(21, 61, 111, 0.44) !important;
    font-size: 16px;
    font-weight: 600;
}
.header-logo-main{
    width: 40px;
}
.logo-box-area{
    display: flex;
}
.logo-box-area p{
    align-self: center;
    margin-bottom: 0px;
    color: white;
    padding-left: 13px;
    font-weight: 900;
    font-size: 20px;
}
.header-right-side{
    display: flex;
}
.header-right-side p{
    padding-right: 18px;
    margin-bottom: 0px;
    color: rgb(135, 161, 206);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
}
.sidebar{
    margin-top: 62px;
    margin-left: 0px;
    border-radius: 0px;
    border-right: 2px solid rgba(133, 133, 133, 0.1);
    position: absolute;
    height: 100vh;

}
.navbar .navbar-brand{
    position: relative;
}
.btn-primary.active{
    background-color: #00edff  !important;
    background-image: linear-gradient(to bottom left, #00edff , #00edff , #00edff ) !important;
}
.btn-group label.btn.active{
    border-radius: 16px;
    padding: 3px 16px;
    align-self: center;
    border-top-right-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
}
.btn-group{
    background-color: rgba(21, 61, 111, 0.44);
    border-radius: 16px;
    padding: 0px 10px;
}
.btn-group label.btn{
    padding-top: 6px;
    padding-bottom: 6px;
    margin-right: 12px;
}
.btn-group .btn-simple{
    border: none;
    margin-top: 0px;
}
.btn-primary.btn-simple{
    color: rgb(0, 237, 255);
}
.tabsbtns{
margin-bottom: 50px;
}
.sidebar .nav li.active > a:not([data-toggle="collapse"]):before, .off-canvas-sidebar .nav li.active > a:not([data-toggle="collapse"]):before{
background: transparent;
}
@media (max-width:991px){
    .mobile-collapse-show{
    position: absolute;
        right: 15px;
        z-index: 99999999;
    }
    .mobile-collapse-show:not(.show){
        display: block !important;
    }
    }